body {
	background-image: url('../images/stardust.png');
}

.jumbotron {
	background-image: url('../images/simpsons-logo.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 470px;
	color: black;
	text-align: center;
}

form {
	position: absolute;
	bottom: 20px;
}

#add-character, button {
	background-color: #00DBE8;
	font-weight: bold;
	color: black;
}

#button-display {
	margin-bottom: 20px;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
}

.gif {
	display: inline-block;
	margin-right: 20px;
	max-width: 20%;
	margin-bottom: 20px;
}

p {
	color: white;
}

.gif-image {
	max-width: 100%;
}

.gif-image:hover {
	cursor: pointer;
}